<!-- These should be split up into individual partials -->
<div id="metric_block" class="sb_container">
    <div id="metric_content">
        <ul>
            <li><span class="metric_value">34</span>Supporters</li>
            <li><span class="metric_value">17</span>Days until event</li>
            <li><span class="metric_value">76%</span>Ready</li>
        </ul>
        <div id="join_project_wrapper">
        <div id="join_project">
            <a href="#">Support this project</a>
        </div>
      </div>
    </div>
</div>
<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Location</div>
    <div class="sidebar_box_content">
	    <div class="sidebar_box_image"></div>
	    <div class="sidebar_box_text">
            <span class="sidebar_box_name">Parker Plaza</span>
            16th &amp; Mission St.<br />
            San Francisco, CA
        </div>
        <div class="sidebar_box_more_info"><a href="#" class="target-icon">Find it</a></div>
        <div class="clear"></div>
    </div>
</div>
<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Organizer</div>
    <div class="sidebar_box_content">
	    <div class="sidebar_box_image"></div>
	    <div class="sidebar_box_text">
            <span class="sidebar_box_name">Charles Norris</span>
            IÕve lived here for 14 years now and no amount of roundhouse kicks have been able to clean this place up...
        </div>
        <div class="sidebar_box_more_info"><a href="#" class="arrow-icon">Full Bio</a></div>
        <div class="clear"></div>
    </div>
</div>
<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Help Out</div>
    <div class="sidebar_box_content">
	    <div class="sidebar_box_text">
            <ul class="help_list">
                <li>200 Flyers</li>
                <li>Drinks &amp; Snacks</li>
                <li>Custom T-Shirts</li>
                <li class="needs_help">Tent for shade <span class="i_can_help">I can help</span></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Supporters</div>
    <div class="sidebar_box_content">
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="sidebar_box_more_info supporters_fix"><a href="#" class="arrow-icon">Full List</a></div>
        <div class="clear"></div>
    </div>
</div>