<!-- -->
<div class="sidebar_box admin_box sb_container">
    <div class="sidebar_box_title">Wayfinder</div>
    <div class="sidebar_box_content">
	    <div class="wayfinder sidebar_box_text">
            <ul class="check_list">
<% for (i in project.tasks) { %>
                <li class="<% if (project.tasks[i].completed()) { %> completed<% } %>">
                  <button type="button" class="wayfinder_task" id="wayfinder_<%= project.tasks[i].name %>"><%= project.tasks[i].label %></button>
                  <script>
                    $(document).ready(function() {
                      $('#wayfinder_<%= project.tasks[i].name %>').click(function (evt) {
                        <% if (!project.tasks[i].completed()) { %>
                          <%- partial(project.tasks[i].action, {task: project.tasks[i]}) %>
                        <% } %>
                        return false;
                      });
                    });
                  </script>
                </li>
<% } %>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

