<!-- -->
<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Supporters</div>
    <div class="sidebar_box_content">
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="supporter_image"><a href="#"><img src=""></img></a></div>
        <div class="sidebar_box_more_info supporters_fix"><a href="#" class="arrow-icon">Full List</a></div>
        <div class="clear"></div>
    </div>
</div>
