<!-- -->
<div id="metric_block" class="sb_container">
    <div id="metric_content">
        <ul>
            <li><span class="metric_value"><%= project.supporters.length %></span>Supporters</li>
<!--            <li><span class="metric_value">17</span>Days until event</li>
            <li><span class="metric_value">75%</span>Ready</li> -->
        </ul>
        <div id="join_project_wrapper">
        <div id="join_project">
            <a href="#">Support this project</a>
        </div>
      </div>
    </div>
</div>

