<!-- -->
<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Help Out</div>
    <div class="sidebar_box_content">
	    <div class="sidebar_box_text">
            <ul class="help_list">
                <li>200 Flyers</li>
                <li>Drinks &amp; Snacks</li>
                <li>Custom T-Shirts</li>
                <li class="needs_help">Tent for shade <span class="i_can_help">I can help</span></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

