<h2>You Can:</h2>
<ul>
    <li><a href="projects/wizard">Create and manage a project.</a></li>
    <li>Find better ways to do things.</li>
    <li>Find existing projects.</li>
    <li>Share projects with others.</li>
</ul>
<h2>Coming Soon:</h2>
<ul>
    <li>Get other people passionate.</li>
    <li>Find better ways to do things.</li>
    <li>Ask questions to civic gurus.</li>
    <li>Find other passionate people.</li>
</ul>
<a class="content-sidebar-link" href="#">Big things to come!</a>
