<!-- -->
<div class="sidebar_box sb_container">
    <div class="sidebar_box_title">Location</div>
    <div class="sidebar_box_content">
	    <div class="sidebar_box_image"></div>
	    <div class="sidebar_box_text">
            <span class="sidebar_box_name"><%= project.location %></span>
        </div>
        <div class="sidebar_box_more_info"><a href="#" class="target-icon">Find it</a></div>
        <div class="clear"></div>
    </div>
</div>

