<!-- -->
<div class="sidebar_box admin_box sb_container">
    <div class="sidebar_box_title">Wayfinder</div>
    <div class="sidebar_box_content">
	    <div class="wayfinder sidebar_box_text">
            <ul class="check_list">
                <li><button id="wayfinder_add_media">Add a photo</button></li>
                
<% for (itemIndex in project.nextSteps) { %>
                <!--li><%= project.nextSteps[itemIndex] %></li-->
<% } %>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

