<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>16th Street Cleanup - Recipe</title>
<link rel="stylesheet" href="style/reset.css" />
<link rel="stylesheet" href="style/style.css" />
</head>

<body>
<div id="header">
    <div class="wrapper">
        
        <div id="title" class="left">Web 2.5 FTW</div>
        <div id="search-link" class="right nav-links">
            <img src="images/search-icon.png" id="search-link" alt="Search" />
        </div>
        <div id="search-input" class="right">
            <input type="input" id="search-input" class="right" value="Search..."/>
        </div>
        <div id="user-links" class="nav-links right">
            <a href="#">Sign Up</a> | 
            <a href="#">Log In</a>
        </div>
        <div id="proj-links" class="nav-links left">
            <a href="#">Projects</a> | 
            <a href="#">Recipes</a>
        </div>
    </div>
</div>

<div class="wrapper">
    <header>
        <h1>Clean-Up 16th &amp; Mission</h1>
        <h2>Created by <a href="#">Charles Norris</a>, <a href="#">San
        Francisco, CA</a></h2>
    </header>
    
    <div class="progress_bar">
        <span id="progress_indicator"></span>
        76% Ready
    </div>
    
    <div id="content">
        <section class="project_description">
            <img src="files/cleanup-video.png" />
            
            <div class="social_bar">
                <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" send="false" width="450" show_faces="true" font=""></fb:like>
            </div>
            
            <section class="project_text">
                <section class="project_overview">
                    <header>
                        <h1>About This Project</h1>
                    </header>
                    <p>My block is a mess and really just needs a small group of
                    people to get together and pick it up in an afternoon. I know
                    some cities help out with projects like this, and I want to
                    organize a few of my friends to pick up this rubbish.</p>
                </section>
                
                <section class="project_recipe">
                    <header>
                        <h1>How to get my street cleaned up in San Francisco</h1>
                        <h2>by <a href="#">FAQ Robot</a></h2>
                    </header>
                    <ol class="recipe_steps">
                        <li>
                            <p>Call 311 to see if people are already involved with cleanups on your street via the Adopt-A-Street program.</p>
                        </li>
                        <li>
                            <p>Recall that the law requires property owners/ground floor tenants to keep their adjacent sidewalk clean of trash and leaves. Contact 311 if there is a violation.</p>
                        </li>
                        <li>
                            <p>Attempt to join San Francisco’s <a href="http://www.sfdpw.org/index.aspx?page=1229">Adopt-A-Street Program</a>.</p>
                            <p>Organize merchants and neighbors on your street. They all have a strong incentive to see the street cleaned.</p>
                            <p>If you are an individual, you can make an agreement with San Francisco to clean up your street. Merchant and neighborhood associations can also make an agreement with San Francisco to clean up a street.</p>
                            <p>(If you are having trouble finding volunteers or other partners, contact an organization like A Good Idea - <a href="http://agoodideasf.org/">http://agoodideasf.org</a>. They may be able to connect you with willing volunteers.)</p>
                            <p>The Department of Public Works will provide supplies for you (e.g., brooms, rakes, bags, gloves).</p>
                            <p>To sign up for the Adopt-A-Street program, email <a href="mailto:volunteer@sfdpw.org">volunteer@sfdpw.org</a> or fill out this form: <a href="http://38.106.4.205/ftp/uploadedfiles/sfdpw/director/Adopt_a_Street_(application_only).pdf">http://38.106.4.205/ftp/uploadedfiles/sfdpw/director/Adopt_a_Street_(application_only).pdf</a></p>
                            <p>Send your application form to:<br />2323 Cesar Chavez Street<br />San Francisco, CA 94124-1091</p>
                        </li>
                        <li>
                            <p>Once you have organized a day to clean up your street, you and your volunteers can call 311 to request a pickup of your garbage.</p>
                        </li>
                    </ol>
                </section>
                
                <section class="helpful_questions">
                    <header>
                        <h1>Questions that were helpful to this project</h1>
                    </header>
                    <ul>
                        <li><a href="#">How do I dispose of the trash and leaves?</a></li>
                        <li><a href="#">What supplies and support will the city provide?</a></li>
                        <li><a href="#">Can I do more than just pick up litter??</a></li>
                    </ul>
                </section>
                
                <section class="project_ingredients">
                    <header>
                        <h1>Ingredients used in this project</h1>
                    </header>
                    <ul>
                        <li>San Francisco’s <a href="http://www.sfdpw.org/index.aspx?page=1229">Adopt-A-Street Program</a></li>
                    </ul>
                </section>
            </section>
        </section>
    </div>

    <div id="sidebar">
        <div id="metric_block" class="sb_container">
            <div id="metric_content">
                <ul>
                    <li><span class="metric_value">34</span>Supporters</li>
                    <li><span class="metric_value">17</span>Days until event</li>
                    <li><span class="metric_value">76%</span>Ready</li>
                </ul>
                <div id="join_project_wrapper">
                <div id="join_project">
                    <a href="#">Support this project</a>
                </div>
              </div>
            </div>
        </div>
        <div class="sidebar_box sb_container">
    	    <div class="sidebar_box_title">Location</div>
    	    <div class="sidebar_box_content">
        	    <div class="sidebar_box_image"></div>
        	    <div class="sidebar_box_text">
                    <span class="sidebar_box_name">Parker Plaza</span>
                    16th &amp; Mission St.<br />
                    San Francisco, CA
                </div>
                <div class="sidebar_box_more_info"><a href="#" class="target-icon">Find it</a></div>
                <div class="clear"></div>
            </div>
    	</div>
    	<div class="sidebar_box sb_container">
    	    <div class="sidebar_box_title">Organizer</div>
    	    <div class="sidebar_box_content">
        	    <div class="sidebar_box_image"></div>
        	    <div class="sidebar_box_text">
                    <span class="sidebar_box_name">Charles Norris</span>
                    I’ve lived here for 14 years now and no amount of roundhouse kicks have been able to clean this place up...
                </div>
                <div class="sidebar_box_more_info"><a href="#" class="arrow-icon">Full Bio</a></div>
                <div class="clear"></div>
            </div>
    	</div>
    	<div class="sidebar_box sb_container">
    	    <div class="sidebar_box_title">Help Out</div>
    	    <div class="sidebar_box_content">
        	    <div class="sidebar_box_text">
                    <ul class="help_list">
                        <li>200 Flyers</li>
                        <li>Drinks &amp; Snacks</li>
                        <li>Custom T-Shirts</li>
                        <li class="needs_help">Tent for shade <span class="i_can_help">I can help</span></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
    	</div>
    	<div class="sidebar_box sb_container">
    	    <div class="sidebar_box_title">Supporters</div>
    	    <div class="sidebar_box_content">
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="images/supporter_image"><a href="#"><img src=""></img></a></div>
                <div class="sidebar_box_more_info supporters_fix"><a href="#" class="arrow-icon">Full List</a></div>
                <div class="clear"></div>
          </div>
    	</div>
    </div>
    <div id="footer">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">API</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
        <p><span>Created as Open Source by </span><a href="#">Code for America</a><br />
        “For a more transparent, efficient, and participitory future.”</p>
        <a href="#"><img src="images/cfa-logo.png"></img></a>
    </div>
</div>
</body>
</html>
