<form id="project-add" enctype="multipart/form-data" method="post" action="/projects/wizard">
    
    <div class="wizard-tip wizard-general-tip project-definition-wizard-tip">
        <h1 class="wizard-tip-title">Defining Your Project</h1>
        <p>We will step you through the process of providing a clear
           articulation of what your project sets out to solve. This is intended
           to give your audience an understanding of the rationale for the
           project.</p>
        
        <h2>More Information</h2>
        <ul>
            <li><a href="#">Problem vs. Project/Issue</a></li>
        </ul>
    </div>

    <!--+ First you have to figure out what you want to do.  This bring up the
        | question: how did you land on the site.  Let's address a few ways:
        | 
        | 1) You did a google search for "how do i start a neighborhood watch
        |    association" or someting.
        | 2) You were on an issue reporting site (like Kajoo) and you reported
        |    an issue or saw an issue that you wanted addressed.  It said that
        |    you could check whether anyone was working on the issue at the city
        |    heroes site, so you came here to look for the issue.
        | 3) You heard about it through some advertising campaign and want to 
        |    plan a national night out.
        | 4) You ask (on city how) how to get the city to clean up a vacant lot
        |    and someone recommends that you come to city hero and try to get it
        |    done yourself.
        | 
        | For scenarios (1) and (3) you can pretty much just jump in and start
        | on the project's general description (title and such).  For scenarios
        | (2) and (4) you might benefit from some help in picking out possible
        | solutions to the problem you identify.
        |
        | 
        +-->
    
    <section class="project-mission-section">
        <div class="wizard-tip wizard-field-tip project-mission-wizard-tip">
            <h1 class="wizard-tip-title">Articulating Your Mission</h1>
            <p>Before beginning to define your project you should have an idea
               of your mission. A good mission statement should accurately
               explain what your project hopes to achieve in the future. It
               articulates the project's essential nature, its values, and its
               work. </p>
            <p>We have started you off with a sample mission statement. You can
               use this, or customize it to your event &mdash; which we
               encourage you to do!</p>
            <p><strong>Not sure where to start?  Go <a id="show-project-mission-step-by-step" href="#">step-by-step</a>.</strong></p>
            <p>Your mission should answer these three key questions:</p>
            <ol>
                <li>What are the opportunities or needs that the project exist
                    to address?</li>
                <li>What will you be doing to address these needs?</li>
                <li>What values, principles, or beliefs guide your work?</li>
            </ol>
            
            <h2>More Information</h2>
            <ul>
                <li><a href="#">How to Write a Mission Statement</a></li>
                <li><a href="#">Problem vs. Project/Issue</a></li>
            </ul>
        </div>
        
        <div class="form-item-wrapper form-textfield-wrapper">
            <div class="label-wrapper">
                <label for="project-mission">Project Overview</label>
                <span class="form-item-help">What opportunities or needs the
                     project exists to address.</span>
            </div>
            
            <textarea class="textarea" name="project-mission" id="project-mission">National Night Out is an annual event designed to strengthen our communities by encouraging neighborhoods to engage in stronger relationships with each other and with their local law enforcement partners. The goal is to heighten crime-prevention awareness, build support and participation in local anti-crime programs, and most importantly, send a message that our neighborhoods are organized and fighting back. It’s also the perfect opportunity to get to know your neighbors even better. See you there!</textarea>
        </div>
    </section>
    
    <section class="project-mission-step-by-step-section">
        <div class="wizard-tip wizard-field-tip project-mission-problem-wizard-tip">
            <h1 class="wizard-tip-title">Identifying The Problem</h1>
            <p>What are the opportunities or needs that you will address through
               this project. This can be as short as a sentence.</p>
            
            <h2>More Information</h2>
            <ul>
                <li><a href="#">Problem vs. Project/Issue</a></li>
            </ul>
        </div>
        
        <div class="form-item-wrapper form-textfield-wrapper">
            <div class="label-wrapper">
                <label for="project-mission-problem">Problem</label>
                <span class="form-item-help">The opportunities or needs the
                     project exists to address</span>
            </div>
            
            <input class="textfield" name="project-mission-problem" id="project-mission-problem" />
        </div>
        
        <div class="wizard-tip wizard-field-tip project-mission-solution-wizard-tip">
            <h1 class="wizard-tip-title">The Solution</h1>
            <p>What will you be doing to address the needs in the problem? What
               specific outputs and outcomes will result from each element?</p>
        </div>
        
        <div class="form-item-wrapper form-textfield-wrapper">
            <div class="label-wrapper">
                <label for="project-mission-solution">Solution</label>
                <span class="form-item-help">What you will do to address the
                     problems or needs</span>
            </div>
            
            <textarea class="textarea" name="project-mission-solution" id="project-mission-solution"></textarea>
        </div>
        
        <div class="wizard-tip wizard-field-tip project-mission-values-wizard-tip">
            <h1 class="wizard-tip-title">The Values</h1>
            <p>Clearly articulating the values behind the project provides
               clarity for people you are trying to engage, and motivates those
               who hold the same values.</p>
        </div>
        
        <div class="form-item-wrapper form-textfield-wrapper">
            <div class="label-wrapper">
                <label for="project-mission-values">Values</label>
                <span class="form-item-help">The values, principles, or beliefs guide that underlie your desire to
                     solve the problem</span>
            </div>
            
            <input class="textfield" name="project-mission-values" id="project-mission-values" />
        </div>
        
        <div class="project-mission-altogether">
            <section class="project-mission-mashup-section">
                <h1>Mission<h1>
                <h2>Problem + Values + So, Solution</h2>
                
                <p id="project-mission-mashup"></p>
                
                <span class="project-mission-mashup-good-stuff">Is this good, at least as a starting point? <button type="button" id="accept-project-mission-mashup">Use it</button>.</span>
                <span class="project-mission-mashup-no-good">Not what you want?  <button type="button" id="reject-project-mission-mashup">Go back</button>.</span>
            </section>
            
            <section class="project-mission-former-section">
                <h1>Original Mission</h1>
                <p id="project-mission-former"></p>
            </section>
        </div>
    </section>
    
    <section class="project-definition-section">
        <div class="wizard-tip wizard-field-tip project-title-wizard-tip">
            <h1 class="wizard-tip-title">Choosing A Project Title</h1>
            <p>Your project title is the first thing people will read about your
               project.  It is a short (~5-10 word) summary of your project mission.</p>
            <ol>
                <li>Make your title positive and engaging rather than negative
                    (<i>&quot;Creating Safe Places to Play In&quot;</i> rather
                    than <i>&quot;Kick the Trash Out of Our
                    Neighborhood&quot;</i>)</li>
                <li>The title should be easy to remember.</li>
                <li>Check your spelling, use Title Case, and avoid using ALL CAPS</li>
                <li>Watch out for negative acronyms!</li>
            </ol>
            
            <h2>Examples of Effective Project Titles</h2>
            <ul>
                <li>...</li>
            </ul>
        </div>
        
        <div class="form-item-wrapper form-textfield-wrapper">
            <div class="label-wrapper">
                <label for="project-title">Project Title</label>
                <!--span class="form-item-help">What you are going to do</span-->
            </div>
            
            <input class="textfield" name="project-title" id="project-title" />
        </div>
    </section>
    
    <section class="project-deadline-section">
        <div class="wizard-tip wizard-field-tip project-deadline-formatted-wizard-tip">
            <h1 class="wizard-tip-deadline">Setting Your Event Date</h1>
            <p>When is your National Night Out event happening? The official
               date for 2011 is August 2, 2011. If you're planning yours for a
               different day, enter it here.</p>
        </div>
        
        <div class="form-item-wrapper form-textfield-wrapper">
            <div class="label-wrapper">
                <label for="project-deadline">Event Date</label>
                <!--span class="form-item-help">What you are going to do</span-->
            </div>
            
            <input type="text" class="textfield" name="project-deadline-formatted" id="project-deadline-formatted" value="August 02, 2011" />
            <input type="hidden" name="project-deadline" id="project-deadline" value="2011-08-02" />
        </div>
    </section>
    
    <section>
        <div class="wizard-tip wizard-field-tip project-location-wizard-tip">
            <h1 class="wizard-tip-title">Specifying The Location</h1>
            <p>Let people know where your project will be taking place...</p>
        </div>
        
        <div class="form-item-wrapper form-textfield-wrapper">
            <div class="label-wrapper">
                <label for="project-location">Project Location</label>
            </div>
            <input class="textfield geocode" type="text" name="project-location" id="project-location" size="50" />
        </div>
    </section>
    
    <!--
    <div class="form-item-wrapper form-filefield-wrapper">
        <div class="label-wrapper">
            <label for="project-image">Image</label>
        </div>
        <input class="filefield" type="file" name="project-image" id="project-image" />
    </div>
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="project-video">Video</label>
        </div>
        <input class="textfield" type="text" name="project-video" id="project-video" size="50" />
    </div>
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="project-link">Link</label>
        </div>
        <input class="textfield" type="text" name="project-link" id="project-link" size="50" />
    </div>
    -->
    
    <div class="form-item-wrapper form-submit-wrapper">
        <input type="hidden" name="project-creator" id="project-creator" value="<%= session.user._id %>" />
        <input class="submit" type="submit" name="project-submit" id="project-submit" value="Submit" />
    </div>
</form>

