<img src="/images/example.jpg" width="570px" />


<div class="project_text">
    <div class="project_overview">
        <header>
            <h1>About this Person</h1>
        </header>
        <p>This person does this and that and a little bit of that.</p>
    </div>
</div>

<div class="profile-desciption">
    <h3>Projects Started</h3>
    
    <ul>
        <li><a href="#">Project 1</a></li>
        <li><a href="#">Project 2</a></li>
        <li><a href="#">Project 3</a></li>
    </ul>
    
    <h3>Projects Supporting</h3>
    
    <ul>
        <li><a href="#">Project 6</a></li>
        <li><a href="#">Project 7</a></li>
        <li><a href="#">Project 8</a></li>
    </ul>

</div>