<form id="user-register" enctype="multipart/form-data" method="post">
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="user-username">User name</label>
        </div>
        <input class="textfield" type="text" name="user-username" id="user-username" size="50" />
    </div>
    
    <div class="form-item-wrapper form-password-wrapper">
        <div class="label-wrapper">
            <label for="user-password">Password</label>
        </div>
        <input class="password" type="password" name="user-password" id="user-password" size="50" />
    </div>
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="user-location">Your Location</label>
            <span class="form-item-help">Be as specific as you want.</span>
        </div>
        <input class="textfield geocode" type="text" name="user-location" id="user-location" size="50" />
    </div>
    
    <div class="form-item-wrapper form-submit-wrapper">
        <input class="submit" type="submit" name="user-submit" id="user-submit" value="Submit" />
    </div>
</form>