<div class="project_description">
    <div class="search_form">
        <form name="searchForm" action="">
        <input type="text" name="q" id="q" value="" /><input type="submit" class="search_btn" value="Search" />
        </form>
        <a href="projects/wizard">Create and manage a project.</a>  
    </div>
    <div class="search_results"></div>
    <div class="project_text">
    </div>
</div>