<form id="user_login" enctype="multipart/form-data" method="post">
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="user-login-username">User name</label>
        </div>
        <input class="textfield" type="text" name="user-login-username" id="user-login-username" size="50" />
    </div>
    
    <div class="form-item-wrapper form-password-wrapper">
        <div class="label-wrapper">
            <label for="user-login-password">Password</label>
        </div>
        <input class="password" type="password" name="user-login-password" id="user-login-password" size="50" />
    </div>
    
    <div class="form-item-wrapper form-submit-wrapper">
        <input class="submit" type="submit" name="login-submit" id="login-submit" value="Login" />
    </div>
</form>