<form id="project-add" enctype="multipart/form-data" method="post">
    <div class="form-item-wrapper form-textarea-wrapper">
        <div class="label-wrapper">
            <label for="project-title">Project Title</label>
            <span class="form-item-help">This is some help text for project titles.</span>
        </div>
        <textarea class="textarea" name="project-title" id="project-title"></textarea>
    </div>
    <div class="form-item-wrapper form-textarea-wrapper">
        <div class="label-wrapper">
            <label for="project-description">Project Description</label>
        </div>
        <textarea class="textarea" name="project-description" id="project-description"></textarea>
    </div>
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="project-location">Project Location</label>
        </div>
        <input class="textfield geocode" type="text" name="project-location" id="project-location" size="50" />
    </div>
    
    <div class="form-item-wrapper form-filefield-wrapper">
        <div class="label-wrapper">
            <label for="project-image">Image</label>
        </div>
        <input class="filefield" type="file" name="project-image" id="project-image" />
    </div>
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="project-video">Video</label>
        </div>
        <input class="textfield" type="text" name="project-video" id="project-video" size="50" />
    </div>
    
    <div class="form-item-wrapper form-textfield-wrapper">
        <div class="label-wrapper">
            <label for="project-link">Link</label>
        </div>
        <input class="textfield" type="text" name="project-link" id="project-link" size="50" />
    </div>
    
    <div class="form-item-wrapper form-submit-wrapper">
        <input class="submit" type="submit" name="project-submit" id="project-submit" value="Submit" />
    </div>
</form>

<div class="wizard-tip project-name-wizard-tip">
    <h1 class="wizard-tip-title">Choosing A Project Name</h1>
    <p>Your project name is the first thing people will read about your project</p>
    <ol>
        <li>Make your title positive and engaging rather than negative (<i>&quot;Creating Safe Places to Play In&quot;</i> rather than <i>&quot;Kick the Trash Out of Our Neighborhood&quot;</i>)</li>
        <li>The title should be easy to remember.</li>
        <li>Check your spelling, use Title Case, and avoid using ALL CAPS</li>
        <li>Watch out for negative acronyms!</li>
    </ol>
    
    <h2>Examples of Effective Project Titles</h2>
    <ul>
    </ul>
</div>
