var tempHtml = '<div id="task-<%= task.name %>-container" class="guidance-popup">'+
'    <h3><%= task.label %></h3>'+
'    <p><%= task.description %></p>'+
'</div>';

$.fancybox(
	tempHtml,
	{
        'autoDimensions'	: false,
		'width'         	: 350,
		'height'        	: 'auto',
		'transitionIn'		: 'fade',
		'transitionOut'		: 'fade'
	}
);
